Package: playpass.direct.fm
Name: Direct.FM
Version: 1.6
Architecture: iphoneos-arm
Description: iOS tool to Scrobble your music to last.fm. Forked from Scrubble by rootfs.
Maintainer: pisknk
Author: rootfs
Section: Tweaks
Depends: gawk, preferenceloader
Conflicts: fr.rootfs.scrubble-rootless
