Package: playpass.direct.fm
Name: Direct.FM
Version: 1.5
Architecture: iphoneos-arm
Description: iOS tool to Scrobble your music to last.fm
Maintainer: rootfs
Author: rootfs
Section: Tweaks
Depends: gawk, preferenceloader
