<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enable Direct.FM</string>
			<key>key</key>
			<string>enabled</string>
			<key>defaults</key>
			<string>playpass.direct.fmprefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credentials</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>key</key>
			<string>username</string>
			<key>defaults</key>
			<string>playpass.direct.fmprefs</string>
			<key>label</key>
			<string>Username:</string>
			<key>PostNotification</key>
			<string>playpass.direct.fmprefs-updated</string>
			<key>id</key>
			<string>username</string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>key</key>
			<string>password</string>
			<key>defaults</key>
			<string>playpass.direct.fmprefs</string>
			<key>label</key>
			<string>Password:</string>
			<key>PostNotification</key>
			<string>playpass.direct.fmprefs-updated</string>
			<key>id</key>
			<string>password</string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Login</string>
			<key>action</key>
			<string>login</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Scrobbling</string>
			<key>action</key>
			<string>showScrobblingSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Status</string>
			<key>action</key>
			<string>showStatus</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>url</key>
			<string>https://github.com/pisknk/Direct.FM</string>
			<key>action</key>
			<string>open:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow me on X (Twitter)</string>
			<key>url</key>
			<string>https://x.com/rootfsdev</string>
			<key>action</key>
			<string>open:</string>
		</dict>
	</array>
	<key>title</key>
	<string>Direct.FM</string>
</dict>
</plist>
